<div class="flex flex-row flex-wrap flex-grow mt-2 text-gray-100">
  <div class="w-full p-3 justify-center">
    <!--Graph Card-->
    <div class="bg-gray-900 border border-gray-800 rounded shadow">
      <div class="border-b border-gray-800 p-3">
        <h5 class="font-bold uppercase text-gray-400">
          <a routerLink="/teachers"
            ><i class="fa fa-arrow-left" aria-hidden="true"></i
          ></a>
          Add new Teacher
        </h5>
      </div>
      <form
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        #teacherForm="ngForm"
        (ngSubmit)="onSubmit(teacherForm)"
      >
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              class="
                block
                uppercase
                tracking-wide
                text-gray-700 text-xs
                font-bold
                mb-2
              "
              for="firstName"
            >
              First Name
            </label>
            <input
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border
                rounded
                py-3
                px-4
                mb-3
                leading-tight
                focus:outline-none focus:bg-white
              "
              id="firstName"
              type="text"
              placeholder="Jane"
              #teacherFirstName="ngModel"
              [(ngModel)]="teacher.firstName"
              [ngClass]="{
                'border-red-500':
                  teacherFirstName.errors && teacherFirstName.touched
              }"
              name="firstName"
              required
            />
            <p
              class="text-red-500 text-xs italic"
              [hidden]="!teacherFirstName.errors?.required"
            >
              Please fill out this field.
            </p>
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label
              class="
                block
                uppercase
                tracking-wide
                text-gray-700 text-xs
                font-bold
                mb-2
              "
              for="lastName"
            >
              Last Name
            </label>
            <input
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border border-gray-200
                rounded
                py-3
                px-4
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="lastName"
              type="text"
              placeholder="Doe"
              #teacherLastName="ngModel"
              [(ngModel)]="teacher.lastName"
              [ngClass]="{
                'border-red-500':
                  teacherLastName.errors && teacherLastName.touched
              }"
              name="lastName"
              required
            />
            <p
              class="text-red-500 text-xs italic"
              [hidden]="!teacherLastName.errors?.required"
            >
              Please fill out this field.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              class="
                block
                uppercase
                tracking-wide
                text-gray-700 text-xs
                font-bold
                mb-2
              "
              for="email"
            >
              Email
            </label>
            <input
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border border-gray-200
                rounded
                py-3
                px-4
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="email"
              type="email"
              placeholder="jane.doe@domain.com"
              #teacherEmail="ngModel"
              [(ngModel)]="teacher.email"
              [ngClass]="{
                'border-red-500': teacherEmail.errors && teacherEmail.touched
              }"
              name="email"
              required
              email
            />
            <p
              class="text-red-500 text-xs italic"
              [hidden]="
                !teacherEmail.errors?.required && !teacherEmail.errors?.email
              "
            >
              Invalid Email
            </p>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              class="
                block
                uppercase
                tracking-wide
                text-gray-700 text-xs
                font-bold
                mb-2
              "
              for="isActive"
            >
              Status
            </label>
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-200
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                  rounded
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                "
                id="isActive"
                #isActive="ngModel"
                [(ngModel)]="teacher.isActive"
                [ngClass]="{
                  'border-red-500': isActive.errors && isActive.touched
                }"
                name="isActive"
                required
              >
                <option disabled>-- Select Status --</option>
                <option [ngValue]="true">Active</option>
                <option [ngValue]="false">In Active</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
            <p
              class="text-red-500 text-xs italic"
              [hidden]="!isActive.errors?.required"
            >
              Status is Required
            </p>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              class="
                block
                uppercase
                tracking-wide
                text-gray-700 text-xs
                font-bold
                mb-2
              "
              for="password"
            >
              Password
            </label>
            <input
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border border-gray-200
                rounded
                py-3
                px-4
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="password"
              type="text"
              placeholder="********"
              #teacherPassword="ngModel"
              [(ngModel)]="password"
              [ngClass]="{
                'border-red-500':
                  teacherPassword.errors && teacherPassword.touched
              }"
              name="password"
              required
              minlength="8"
            />
            <p
              class="text-red-500 text-xs italic"
              [hidden]="
                !teacherPassword.errors?.required &&
                !teacherPassword.errors?.minlength
              "
            >
              Password is required and should be at least 8 characters
            </p>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              class="
                block
                uppercase
                tracking-wide
                text-gray-700 text-xs
                font-bold
                mb-2
              "
              for="photo"
            >
              Photo
            </label>
            <input
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border border-gray-200
                rounded
                py-3
                px-4
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="photo"
              type="file"
              name="photo"
              (change)="uploadPhoto($event)"
            />
          </div>
        </div>
        <div class="w-full px-3 mb-6 md:mb-0 flex-grow">
          <button
            [disabled]="loading"
            type="submit"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              border border-gray-200
              rounded
              py-3
              px-4
              leading-tight
              focus:outline-none focus:bg-white focus:border-gray-500
            "
          >
            Save <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </form>
    </div>
    <!--/Graph Card-->
  </div>
</div>
